<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  

  <script>
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();   
      });
      </script>
</head>
<body>
    <h1>Pick n Pay</h1>
  <nav>   
    <a routerLink="/cart" routerLinkActive="active" data-toggle="tooltip" data-placement="top" title="Go to cart"><span class="glyphicon glyphicon-shopping-cart"></span></a> 
 </nav>
  <p><a data-placement="top" title="Log out" (click)="onLogOut()">{{userLogedIn}}<span class="glyphicon glyphicon-off" (click)="onLogOut()"></span></a></p>


  <mat-tab-group>
    <mat-tab label="Fresh Food">
        <table class="table">
            <tr><th></th><th>Name</th><th>Price</th></tr>
            <tr *ngFor="let product of freshFood; let i = index" >       
                <td><span><img  src= "{{ product.product_img }}" width="80" height="80"></span></td>
                <td>{{product.product_name}}</td>
                <td>R{{product.product_price}}</td>
                <td>
                <div class="input-group-btn">
                <button type="button" class="btn btn-danger" (click)="onSelect(product)">Add to 
                <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
                </div>
                </td>
                </tr>
                </table>
    </mat-tab>
    <mat-tab label="Food Cupboard">
        <table class="table">
            <tr><th></th><th>Name</th><th>Price</th></tr>
            <tr *ngFor="let product of foodCupboard; let i = index" >       
                <td><span><img  src= "{{ product.product_img }}" width="80" height="80"></span></td>
                <td>{{product.product_name}}</td>
                <td>R{{product.product_price}}</td>
                <td>
                <div class="input-group-btn">
                <button type="button" class="btn btn-danger" (click)="onSelect(product)">Add to 
                <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
                </div>
                </td>
                </tr>
                </table>
    </mat-tab>
    <mat-tab label="Frozen Food">
        <table class="table">
            <tr><th></th><th>Name</th><th>Price</th><th></th></tr>
            <tr *ngFor="let product of frozenFood; let i = index" >       
                <td><span><img  src= "{{ product.product_img }}" width="80" height="80"></span></td>
                <td>{{product.product_name}}</td>
                <td>R{{product.product_price}}</td>
                <td>
                <div class="input-group-btn">
                <button type="button" class="btn btn-danger" (click)="onSelect(product)">Add to 
                <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
                </div>
                </td>
                </tr>
                </table>
    </mat-tab>
    <mat-tab label="Convenience Meals">
        <table class="table">
            <tr><th></th><th>Name</th><th>Price</th><th></th></tr>
            <tr *ngFor="let product of meals; let i = index" >       
                <td><span><img  src= "{{ product.product_img }}" width="80" height="80"></span></td>
                <td>{{product.product_name}}</td>
                <td>R{{product.product_price}}</td>
                <td>
                <div class="input-group-btn">
                <button type="button" class="btn btn-danger" (click)="onSelect(product)">Add to 
                <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
                </div>
                </td>
                </tr>
                </table>
    </mat-tab>
    <mat-tab label="Beverages">
         <table class="table">
        <tr><th></th><th>Name</th><th>Price</th><th></th></tr>
        <tr *ngFor="let product of beverages; let i = index" >       
            <td><span><img  src= "{{ product.product_img }}" width="80" height="80"></span></td>
            <td>{{product.product_name}}</td>
            <td>R{{product.product_price}}</td>
            <td>
            <div class="input-group-btn">
            <button type="button" class="btn btn-danger" (click)="onSelect(product)">Add to 
            <span class="glyphicon glyphicon-shopping-cart"></span>
            </button>
            </div>
            </td>
            </tr>
            </table>
    </mat-tab>
    <mat-tab label="Baby Products">
        <table class="table">
            <tr><th></th><th>Name</th><th>Price</th><th></th></tr>
            <tr *ngFor="let product of baby; let i = index" >       
                <td><span><img  src= "{{ product.product_img }}" width="50" height="50"></span></td>
                <td>{{product.product_name}}</td>
                <td>R{{product.product_price}}</td>
                <td>
                <div class="input-group-btn">
                <button type="button" class="btn btn-danger" (click)="onSelect(product)">Add to 
                <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
                </div>
                </td>
                </tr>
                </table>
    </mat-tab>
    <mat-tab label="Health and Beauty">
        <table class="table">
            <tr><th></th><th>Name</th><th>Price</th><th></th></tr>
            <tr *ngFor="let product of health; let i = index" >       
                <td><span><img  src= "{{ product.product_img }}" width="50" height="50"></span></td>
                <td>{{product.product_name}}</td>
                <td>R{{product.product_price}}</td>
                <td>
                <div class="input-group-btn">
                <button type="button" class="btn btn-danger" (click)="onSelect(product)">Add to 
                <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
                </div>
                </td>
                </tr>
                </table>
    </mat-tab>
    <mat-tab label="Electronics and Office">
        <table class="table">
            <tr><th></th><th>Name</th><th>Price</th><th></th></tr>
            <tr *ngFor="let product of office; let i = index" >       
                <td><span><img  src= "{{ product.product_img }}" width="50" height="50"></span></td>
                <td>{{product.product_name}}</td>
                <td>R{{product.product_price}}</td>
                <td>
                <div class="input-group-btn">
                <button type="button" class="btn btn-danger" (click)="onSelect(product)">Add to 
                <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
                </div>
                </td>
                </tr>
                </table>
    </mat-tab>
    <mat-tab label="Home and Outdoor">
        <table class="table">
            <tr><th></th><th>Name</th><th>Price</th><th></th></tr>
            <tr *ngFor="let product of outdoor; let i = index" >       
                <td><span><img  src= "{{ product.product_img }}" width="50" height="50"></span></td>
                <td>{{product.product_name}}</td>
                <td>R{{product.product_price}}</td>
                <td>
                <div class="input-group-btn">
                <button type="button" class="btn btn-danger" (click)="onSelect(product)">Add to 
                <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
                </div>
                </td>
                </tr>
                </table>
    </mat-tab>
    <mat-tab label="Household">
        <table class="table">
            <tr><th></th><th>Name</th><th>Price</th><th></th></tr>
            <tr *ngFor="let product of household; let i = index" >       
                <td><span><img  src= "{{ product.product_img }}" width="50" height="50"></span></td>
                <td>{{product.product_name}}</td>
                <td>R{{product.product_price}}</td>
                <td>
                <div class="input-group-btn">
                <button type="button" class="btn btn-danger" (click)="onSelect(product)">Add to 
                <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
                </div>
                </td>
                </tr>
                </table>
    </mat-tab>
  </mat-tab-group>
<footer>
    This web application was designed by Lubabalo Silimela.
  </footer>
</body>
</html>